<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
	    <key>en.lproj/Credits.rtf</key>
		<dict>
			<key>Path</key>
			<string>Credits.rtf</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
	    <key>main.m:import:importPython</key>
	    <string>#import &lt;Python/Python.h&gt;</string>
	    <key>main.m:main:NSApplicationMain</key>
	    <string>
NSAutoreleasePool *pool = [[NSAutoreleasePool alloc] init];

NSBundle *mainBundle = [NSBundle mainBundle];
NSString *resourcePath = [mainBundle resourcePath];
NSArray *pythonPathArray = [NSArray arrayWithObjects: resourcePath, [resourcePath stringByAppendingPathComponent:@"PyObjC"], nil];

setenv("PYTHONPATH", [[pythonPathArray componentsJoinedByString:@":"] UTF8String], 1);

NSArray *possibleMainExtensions = [NSArray arrayWithObjects: @"py", @"pyc", @"pyo", nil];
NSString *mainFilePath = nil;

for (NSString *possibleMainExtension in possibleMainExtensions) {
    mainFilePath = [mainBundle pathForResource: @"main" ofType: possibleMainExtension];
    if ( mainFilePath != nil ) break;
}

if ( !mainFilePath ) {
    [NSException raise: NSInternalInconsistencyException format: @"%s:%d main() Failed to find the Main.{py,pyc,pyo} file in the application wrapper's Resources directory.", __FILE__, __LINE__];
}

Py_SetProgramName("/usr/bin/python");
Py_Initialize();
PySys_SetArgv(argc, (char **)argv);

const char *mainFilePathPtr = [mainFilePath UTF8String];
FILE *mainFile = fopen(mainFilePathPtr, "r");
int result = PyRun_SimpleFile(mainFile, (char *)[[mainFilePath lastPathComponent] UTF8String]);

if ( result != 0 )
    [NSException raise: NSInternalInconsistencyException
                format: @"%s:%d main() PyRun_SimpleFile failed with file '%@'.  See console for errors.", __FILE__, __LINE__, mainFilePath];

[pool drain];

return result;
        </string>
		<key>___PACKAGENAME___-Info.plist:ApplicationCategory</key>
		<string>&lt;key&gt;LSApplicationCategoryType&lt;/key&gt;
&lt;string&gt;___VARIABLE_applicationCategory:XML___&lt;/string&gt;
</string>
		<key>___PACKAGENAME___-Info.plist:Mac</key>
		<string>&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;LSMinimumSystemVersion&lt;/key&gt;
&lt;string&gt;${MACOSX_DEPLOYMENT_TARGET}&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1&lt;/string&gt;
&lt;key&gt;NSMainNibFile&lt;/key&gt;
&lt;string&gt;MainMenu&lt;/string&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;NSApplication&lt;/string&gt;
</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.objectiveCApplication</string>
		<string>com.apple.dt.unit.macBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>
	<key>Identifier</key>
	<string>com.googlecode.gneagle.cocoaPythonApplicationBase</string>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>Placeholder</key>
			<string>None</string>
			<key>Identifier</key>
			<string>applicationCategory</string>
			<key>Name</key>
			<string>App Store Category</string>
			<key>Description</key>
			<string>The category for your application in the Mac App Store</string>
			<key>SpecialType</key>
			<string>LSApplicationCategoryType</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key></key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___-Info.plist:ApplicationCategory</key>
							<string></string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>OtherFrameworks</key>
			<array>
				<string>AppKit</string>
				<string>CoreData</string>
				<string>Foundation</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Cocoa</string>
				<string>Python</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
	    <string>main.m:import:importPython</string>
	    <string>main.m:main:NSApplicationMain</string>
		<string>___PACKAGENAME___-Info.plist:Mac</string>
		<string>___PACKAGENAME___-Info.plist:ApplicationCategory</string>
		<string>___PACKAGENAME___-Info.plist:NSHumanReadableCopyright</string>
		<string>en.lproj/Credits.rtf</string>
	</array>
</dict>
</plist>
